Authentication

In [112]:
from dotenv import load_dotenv
import os
import requests
load_dotenv();

## Part 1

In [113]:
headers={
    "Cookie": f"session={os.getenv('SESSION_COOKIE')}"
}
response = requests.get("https://adventofcode.com/2024/day/1/input", headers=headers)
response

In [114]:
response.text

'58789   28882\n27059   23721\n86784   91527\n72958   13217\n95228   20832\n77437   82573\n33685   76537\n99368   67870\n41094   34696\n70702   18298\n67914   76275\n60325   84734\n25043   31692\n59623   47605\n57390   23721\n68803   36898\n24268   14581\n65399   63078\n97762   19390\n50114   28539\n88373   35451\n49024   61813\n96953   63691\n43964   50579\n84426   60331\n76079   13172\n22861   38715\n91048   87550\n74780   34297\n49960   72835\n91972   50079\n52862   63078\n62546   78927\n92384   70747\n80234   20439\n98465   98833\n34696   26663\n84984   85013\n32047   94866\n20926   91132\n79049   79638\n61387   75742\n40584   67646\n92492   99117\n37042   13172\n24478   21558\n10848   51254\n96010   50300\n21014   29228\n89706   80794\n51308   21014\n87493   91132\n20912   77537\n27054   39926\n57804   54388\n47423   87284\n68652   84795\n86295   42891\n49216   80777\n25463   20439\n20700   33848\n48643   41770\n73701   35843\n81231   45686\n43227   45195\n22496   63694\n98833   70485\n54707   30431\n24668   21558\n69702   90163\n82025   33804\n40061   11701\n16121   91132\n64440   22580\n79108   44508\n51027   21558\n68719   20439\n23563   50579\n83622   95053\n57297   46927\n61983   39502\n12603   34784\n23669   53745\n52072   34297\n78049   75669\n23990   87858\n22137   90163\n90938   18517\n55725   90031\n59993   74012\n54578   85675\n92115   46927\n38969   47605\n81101   10287\n93794   75669\n64839   36867\n47311   12161\n78166   76537\n87125   50079\n66623   25465\n88110   98681\n72660   75592\n41748   37738\n91564   41306\n12219   62821\n60138   52717\n54590   32212\n62975   85753\n61842   35300\n26272   39516\n27007   76251\n48169   63474\n94898   88451\n22706   26762\n56283   76537\n29521   84894\n36845   90163\n88825   90163\n29862   21377\n81174   69137\n13711   34297\n53878   51226\n87590   79980\n99631   76585\n82834   45447\n78342   19644\n28790   72524\n36906   75669\n14336   58221\n76519   77427\n87574   24390\n63709   60766\n39632   36400\n29645   98833\n81798   34297\n81713   86165\n22679   90967\n38591   20490\n14714   93340\n14080   18923\n63166   50079\n13932   17906\n83688   78371\n90711   39189\n90434   96758\n71866   25445\n28566   22989\n20439   20760\n37224   25649\n77827   76115\n64745   37738\n26417   73446\n64271   16805\n81563   36867\n12278   85758\n15257   43127\n97652   21570\n10946   77315\n81470   37738\n47816   63078\n29783   52739\n62569   63078\n71904   21741\n55555   54934\n30111   64622\n97322   59047\n84274   48025\n25514   69909\n19013   20439\n84608   13683\n99317   36003\n77083   76360\n14626   96966\n50572   14581\n21558   60518\n68710   52504\n50579   44922\n98946   15999\n57049   13900\n34217   76875\n88561   63078\n38428   49321\n35301   46430\n68659   44724\n78548   21014\n38423   47605\n25602   76689\n26663   61754\n39416   67964\n35875   55373\n23721   58152\n58006   83208\n52580   62998\n95373   50079\n12865   76537\n72652   20439\n78586   31055\n94022   58221\n25025   98833\n42121   50579\n87831   45945\n48850   64807\n83055   87840\n52315   96758\n93089   68844\n25700   23721\n72511   20439\n39725   34297\n80667   34696\n70151   33255\n92383   96596\n55177   51420\n59932   32699\n42058   98833\n56115   54523\n44800   78852\n74334   85797\n12524   49766\n88761   60104\n83983   65193\n29874   86165\n57987   37738\n99851   83353\n33458   21014\n79218   27405\n59543   44536\n21709   54522\n19922   66820\n41425   76644\n13866   61703\n49725   34696\n51423   17935\n59245   27541\n87806   62519\n79982   11295\n28132   69809\n56313   26663\n37423   50079\n21631   61107\n90163   50079\n64701   13172\n69835   47605\n63939   47605\n69441   37738\n90631   30666\n54776   13172\n25224   45822\n82457   24534\n92005   13172\n18636   14581\n66705   90163\n57104   54522\n48735   97135\n94866   66203\n83090   89376\n40897   54522\n88797   42310\n85498   58221\n30190   63410\n66064   12908\n29791   61813\n66255   83043\n41250   83934\n94161   92546\n54325   55163\n45766   37252\n33824   65193\n45441   80901\n85065   90163\n15504   57097\n91128   13172\n47086   83158\n62989   71264\n46684   36273\n21394   56793\n85025   95859\n30167   20640\n63007   15741\n92712   65193\n90022   96758\n64112   34297\n32922   91132\n82947   54436\n27408   63886\n92065   47605\n60699   20439\n45185   86010\n81565   51093\n43850   76537\n90819   33508\n67506   37738\n40142   34696\n59876   33440\n73904   38458\n21431   59114\n85880   42652\n75274   87983\n63975   75849\n42859   63535\n45645   90967\n34062   61999\n41145   54522\n58221   76199\n41790   54732\n34067   87542\n75883   49363\n64882   21014\n92004   78473\n54170   26663\n53032   65307\n41443   86165\n24191   65193\n68372   61813\n62823   18816\n92170   21014\n79184   93815\n38988   20439\n16245   34696\n61971   17725\n58462   61813\n13669   37284\n95491   50170\n80368   12991\n54437   40865\n49667   91132\n57601   60331\n36103   94892\n61752   46307\n87154   62129\n11458   35248\n95020   75669\n74407   80757\n76364   90967\n74924   79609\n74178   79192\n28787   20439\n30643   47605\n97779   64469\n18060   14581\n33280   66457\n19928   14867\n16465   21558\n96623   49569\n35706   36845\n19824   63236\n79474   37738\n46368   54936\n81026   94866\n74845   92731\n87992   36248\n10511   91369\n17541   91132\n99200   54882\n92088   26663\n30102   96758\n95669   82527\n31323   37738\n49087   72236\n13654   58221\n41957   29009\n69672   60755\n73457   45040\n69851   76537\n51708   72524\n81752   73194\n42100   44337\n65676   34696\n67173   98833\n56955   90163\n47605   90973\n56609   14581\n96803   60138\n20037   74800\n84578   13172\n73603   60215\n26774   63078\n69717   60331\n25769   31133\n65193   33467\n68993   86165\n31290   58673\n35905   12645\n75221   21014\n71743   94866\n15429   51324\n88883   76537\n53273   60331\n53474   94866\n30423   53459\n87208   45513\n21922   76537\n56981   34297\n84407   82475\n92502   72524\n44701   54936\n37137   15727\n46656   91132\n85169   54544\n42787   85847\n32009   15438\n76537   60331\n75936   63078\n64069   94866\n94775   50579\n11066   37007\n96942   12552\n39943   19339\n99820   10453\n82222   60331\n67201   90967\n45047   73382\n52846   42760\n31925   87519\n75095   91207\n67559   86165\n70255   61609\n14881   48739\n66111   50079\n52776   94850\n48217   18408\n27533   10938\n76862   20439\n93730   49950\n19119   98833\n20793   20778\n28844   53836\n75809   26663\n79954   87261\n89143   60138\n15920   94866\n98309   54522\n61390   34297\n91590   61813\n36942   75380\n43612   21014\n62280   76806\n81905   20049\n69500   17817\n30016   54522\n37738   24841\n97736   76537\n95453   60331\n83841   83825\n89661   37221\n54880   38461\n30171   58221\n43651   48482\n32991   50079\n77834   72467\n86698   60331\n54669   75669\n86168   47151\n20582   34297\n63078   61813\n40364   96758\n48964   86751\n91274   65761\n23554   60331\n62116   20439\n47249   14581\n65442   86165\n87647   54528\n67752   90166\n69385   72524\n35212   14581\n55866   34308\n86864   38899\n17913   93044\n70472   90163\n78816   52312\n74722   68941\n69344   34297\n69289   43658\n67116   77640\n17178   38466\n54049   16342\n10096   88031\n10933   22940\n17904   90967\n73750   53331\n24618   32163\n55226   23074\n95001   12994\n77839   14600\n57111   61813\n24177   98351\n86576   13172\n44614   96758\n81490   88939\n24759   20977\n11287   50079\n74785   76689\n27583   37822\n30172   45526\n89894   47983\n42508   54522\n25556   75669\n18793   91132\n32941   47773\n99728   34967\n28210   10047\n27008   19170\n84393   66307\n65829   21014\n49816   56988\n73908   60364\n22824   49783\n27756   33047\n84212   28530\n51194   30445\n50248   66503\n13587   69771\n54561   21830\n14733   36879\n53055   76537\n31145   26316\n16865   56614\n96415   36845\n87252   75073\n58918   14581\n43096   36375\n27809   20695\n76384   34297\n90593   86165\n94850   36867\n84649   63153\n70914   46927\n37245   60331\n15256   15850\n95830   76537\n72468   22864\n68165   25805\n49990   58221\n30245   55581\n80177   89723\n19102   25749\n60883   54936\n94584   21014\n11629   65193\n83942   86493\n98428   20005\n29707   96758\n36468   54522\n86820   76537\n21262   59570\n60331   34966\n29379   94850\n48953   90163\n73148   58221\n97913   21558\n24039   13439\n43317   34297\n34623   21014\n14581   80148\n97267   16045\n29237   67529\n83091   91132\n46331   47605\n69602   98833\n28519   77331\n14318   24668\n26144   90967\n28648   60331\n37188   47605\n95949   50579\n44407   16380\n49859   58221\n46623   76629\n75981   62015\n57484   81117\n85229   73269\n82977   50579\n10758   23721\n10279   94850\n37576   53461\n94624   50982\n95947   60331\n69892   23721\n81444   21014\n13092   26573\n14868   50079\n33930   58282\n57471   62978\n72588   78073\n41668   50079\n10306   50079\n87273   77847\n41744   23721\n35868   91132\n53133   43979\n75783   54936\n10074   35689\n53205   96758\n92488   52569\n38198   90163\n20120   90111\n78344   94850\n99876   13172\n69062   72097\n43840   72694\n48500   13273\n59750   68279\n67216   19658\n16906   50579\n98034   88469\n41621   72071\n93818   23721\n61664   13602\n45369   44961\n20507   28776\n82793   90163\n87708   50079\n36898   98833\n52570   90163\n36679   65193\n26649   50079\n75507   47605\n31553   94257\n17591   31585\n22067   81225\n48812   23721\n49198   56618\n26002   34983\n42947   98833\n12950   59924\n71406   17446\n22795   29922\n87872   63355\n78226   34297\n94380   22491\n56778   96093\n63451   45416\n16336   49990\n20682   12570\n41020   83481\n73814   25139\n82170   78735\n25087   65193\n30733   98833\n70801   86165\n31083   19553\n87063   98719\n42217   72138\n10510   78912\n56707   91456\n13172   71270\n53337   90208\n25513   92697\n39676   63037\n48497   90932\n98346   83722\n17160   26663\n14191   79977\n86557   31093\n12936   13172\n66657   88491\n14496   14581\n10452   14581\n27873   76537\n57301   18372\n84746   96108\n11640   34696\n11240   16854\n13244   14581\n29407   64574\n72524   76537\n70776   93370\n78168   58221\n45118   76537\n95654   56763\n63910   37738\n52213   50079\n71429   35239\n55261   80239\n40819   60331\n77021   87902\n62939   54522\n43136   58221\n54571   77272\n61525   24668\n78329   77956\n16417   34696\n24710   12753\n98654   88262\n11417   43676\n97222   93882\n36533   32918\n63037   23721\n33935   76689\n85633   50622\n53326   22895\n38602   34696\n64320   45677\n84394   20619\n22214   75828\n40603   90163\n12038   72225\n91760   76568\n30962   72524\n69928   34696\n91548   33221\n61270   90163\n52543   21014\n96907   50445\n94862   10606\n36867   21252\n78178   58229\n96175   89174\n18313   34297\n29518   72524\n47176   14117\n16043   11676\n98613   99098\n24524   67759\n50079   16991\n50392   76537\n96483   37738\n23704   98833\n79804   76689\n59352   96758\n28734   94850\n66932   23721\n84652   58221\n81233   58221\n61813   23721\n39414   75107\n61577   90199\n52142   72213\n99269   74680\n65597   91623\n76283   21620\n59366   98833\n96758   96758\n34965   34696\n53408   84822\n15500   41951\n47748   39439\n21807   76689\n43690   33261\n58602   34696\n64122   90967\n54427   26663\n64093   37784\n14460   94866\n89611   29795\n63056   22693\n80641   63078\n20065   76689\n53759   26262\n53429   91132\n33664   96758\n98954   27982\n18508   64233\n73654   60229\n36749   91132\n38704   77512\n58398   18000\n15407   42043\n79946   21014\n65603   21558\n37739   66393\n10565   36845\n12705   70406\n53419   63312\n76095   72348\n74185   84354\n38692   91132\n35982   13657\n20938   78148\n99256   18059\n21586   34696\n77045   12073\n83458   91132\n68485   11739\n19772   21014\n24490   91132\n82581   71791\n62633   18414\n39624   96758\n28147   90163\n53778   90163\n37875   23721\n95920   33634\n25986   80269\n97541   40536\n52877   60331\n94093   25047\n68569   13163\n93531   75209\n72106   23721\n88416   13149\n54125   27336\n98451   79877\n22883   86165\n70670   63113\n19738   50079\n87304   34696\n12339   36867\n10831   56006\n99160   40748\n51288   74418\n93577   58438\n84192   98833\n43597   34696\n92837   63078\n21981   13030\n53101   62867\n61701   98833\n23547   94866\n34215   90478\n90974   38157\n85904   32241\n14327   11808\n91673   47605\n55493   33743\n97416   50579\n64549   13172\n57965   20439\n58101   47605\n18375   71471\n69653   22813\n69096   27820\n87334   63903\n41580   24885\n11874   86165\n44957   34696\n86634   86165\n51588   22065\n92199   58293\n88542   22014\n22393   20439\n68666   11430\n39369   67038\n46682   50079\n76689   98833\n47130   81808\n13334   40847\n81359   99924\n25479   50453\n91035   86165\n86432   36668\n10750   39351\n22408   18607\n30205   94866\n17589   91292\n37538   34297\n22262   72524\n16278   91132\n24024   67674\n91132   47928\n94767   54350\n70645   56810\n88760   64557\n94730   67317\n13825   89274\n23899   61813\n22721   23721\n78866   40625\n40381   32386\n67302   21114\n83660   49990\n82973   48029\n46927   47605\n50994   59060\n75669   96471\n93198   42529\n63040   96758\n88017   16954\n85934   26663\n61221   49936\n34197   50579\n98843   45607\n42984   87664\n33387   35585\n96561   82166\n91974   91132\n29642   21398\n66503   65193\n52839   44772\n45836   95784\n12913   52263\n26079   88145\n77544   88929\n68347   60331\n87632   36867\n50438   64890\n52584   97599\n61632   37738\n98906   47605\n90893   24668\n10194   18767\n46785   21558\n51828   96758\n82148   94866\n77897   37738\n53368   98833\n18940   59455\n32696   54522\n71787   55930\n86247   26113\n56494   34297\n50696   58221\n43551   65193\n95395   26663\n64045   98833\n46544   54224\n86165   59770\n96117   64137\n98537   91132\n33444   22298\n54936   50579\n39368   99983\n82911   84250\n58265   58221\n95446   81144\n79820   20439\n89799   94866\n40876   98833\n42293   26663\n36637   97473\n19260   13172\n98277   62300\n62212   41226\n68970   87041\n43371   21558\n21067   26663\n75308   46978\n44869   53063\n49906   60331\n45217   63078\n50201   11923\n99156   34297\n20043   62082\n43242   27780\n47142   13172\n23278   20135\n78514   91048\n56171   92100\n27955   13172\n86709   83073\n96056   72524\n13890   26986\n82307   60522\n35357   28494\n34580   13172\n62727   41678\n21591   30862\n98258   76537\n74351   91132\n17843   91132\n23738   58221\n18389   58221\n65148   96758\n32995   55446\n51343   58221\n54522   31336\n90967   36845\n95431   26257\n57772   26663\n57712   93356\n52205   57920\n24262   76537\n47614   93956\n65408   60331\n50528   12543\n11005   60331\n10727   90163\n45279   21558\n92496   12711\n34096   42388\n12506   26663\n25503   11871\n39448   36845\n81314   54522\n66364   86165\n85889   14581\n39236   79223\n56055   26663\n90779   34297\n18166   72230\n53177   21014\n43673   81022\n36350   74055\n55270   96758\n65680   41704\n82812   87444\n50741   79868\n36155   91048\n14114   40755\n20019   37738\n84302   37412\n44026   68031\n34297   63388\n22061   89848\n71994   75669\n90335   63839\n39658   98833\n58540   26663\n34246   52806\n83116   82954\n'

In [115]:
import pandas as pd
from io import StringIO
data = pd.read_csv(StringIO(response.text), header=None, sep=r"\s+")
data.columns=['list1', 'list2']
data

     list1  list2
0    58789  28882
1    27059  23721
2    86784  91527
3    72958  13217
4    95228  20832
..     ...    ...
995  90335  63839
996  39658  98833
997  58540  26663
998  34246  52806
999  83116  82954

[1000 rows x 2 columns]

In [116]:
sorted1 = data['list1'].sort_values(ignore_index=True)
sorted2 = data['list2'].sort_values(ignore_index=True)
print(sorted1, sorted2)

0      10074
1      10096
2      10194
3      10279
4      10306
       ...
995    99631
996    99728
997    99820
998    99851
999    99876
Name: list1, Length: 1000, dtype: int64 0      10047
1      10287
2      10453
3      10606
4      10938
       ...
995    98833
996    99098
997    99117
998    99924
999    99983
Name: list2, Length: 1000, dtype: int64

In [117]:
sorted_df = pd.concat([sorted1, sorted2], axis=1)
sorted_df.columns = ['list1', 'list2']
sorted_df['diff'] = sorted_df.apply(lambda x: abs(x['list2'] - x['list1']), axis=1)
sorted_df.astype({'list1':'int', 'list2':'int', 'diff':'int'})
sorted_df.dtypes

list1    int64
list2    int64
diff     int64
dtype: object

In [118]:
sum(sorted_df['diff'])

1189304

### Part 2

In [119]:
sorted_df

     list1  list2  diff
0    10074  10047    27
1    10096  10287   191
2    10194  10453   259
3    10279  10606   327
4    10306  10938   632
..     ...    ...   ...
995  99631  98833   798
996  99728  99098   630
997  99820  99117   703
998  99851  99924    73
999  99876  99983   107

[1000 rows x 3 columns]

In [120]:
# Count occurrences of each value in list2
list2_counts = sorted_df['list2'].value_counts()

# Map counts to list1 values
sorted_df['list2_count'] = sorted_df['list1'].map(list2_counts).fillna(0).astype(int)

print(sorted_df)

     list1  list2  diff  list2_count
0    10074  10047    27            0
1    10096  10287   191            0
2    10194  10453   259            0
3    10279  10606   327            0
4    10306  10938   632            0
..     ...    ...   ...          ...
995  99631  98833   798            0
996  99728  99098   630            0
997  99820  99117   703            0
998  99851  99924    73            0
999  99876  99983   107            0

[1000 rows x 4 columns]

In [123]:
sorted_df['similarity_score'] = sorted_df['list2_count'] * sorted_df['list1']
sorted_df

     list1  list2  diff  list2_count  similarity_score
0    10074  10047    27            0                 0
1    10096  10287   191            0                 0
2    10194  10453   259            0                 0
3    10279  10606   327            0                 0
4    10306  10938   632            0                 0
..     ...    ...   ...          ...               ...
995  99631  98833   798            0                 0
996  99728  99098   630            0                 0
997  99820  99117   703            0                 0
998  99851  99924    73            0                 0
999  99876  99983   107            0                 0

[1000 rows x 5 columns]

In [124]:
sorted_df['similarity_score'].sum()

np.int64(24349736)